extends ../template

block title
	title KVS | Doors

block contain
	.container
		.block.doors
			.doors-head
				span.doors-bold КВАРТИРЫ ЗОЖ
				span.doors-semibold БОЛЬШЕ, ЧЕМ ПРОСТО МЕТРЫ
			.doors-wrapper
				.doors-item-wrapper
					.doors-item-text Бассейн в доме
					.doors-item
						.door-background
							img(src="img/pool.png")
						.door
							img(src="img/door.png")
					.door-description
						.door-description__close
						.door-description__text
							span.text-bold Фитнес-центр в Вашем доме – теперь следить за здоровьем легко и просто.
							|  На площади более 3 000 м2 располагается современный фитнес-центр, который имеет площадки для групповых занятий, кардиозону, студию сайкла, массажный кабинет, фитнес-кафе и многое другое. Тщательно подобранное оборудование удовлетворит запросы, как новичков, так и спортсменов со стажем. Центр оснащен удобными раздевалками, просторными душевыми кабинами.
				.doors-item-wrapper
					.doors-item-text Бег и велопрогулки в парке
					.doors-inn-item.doors-inn-item_1
						img(src="img/trees.png")
					.doors-inn-item.doors-inn-item_2
						img(src="img/bycicle.png")
					.doors-item
						.door-background
							img(src="img/park.png")
						.door
							img(src="img/door.png")
					.door-description
						.door-description__close
						.door-description__text
							span.text-bold Фитнес-центр в Вашем доме – теперь следить за здоровьем легко и просто.
							|  На площади более 3 000 м2 располагается современный фитнес-центр
				.doors-item-wrapper
					.doors-item-text Фитнес клуб в доме
					.doors-inn-item.doors-inn-item_3
						img(src="img/dumbells.png")
					.doors-inn-item.doors-inn-item_4
						img(src="img/circles.png")
					.doors-item
						.door-background
							img(src="img/gym.png")
						.door
							img(src="img/door.png")
					.door-description.door-description_left
						.door-description__close
						.door-description__text
							span.text-bold Фитнес-центр в Вашем доме – теперь следить за здоровьем легко и просто.
							|  На площади более 3 000 м2 располагается современный фитнес-центр, который имеет площадки для групповых занятий, кардиозону, студию сайкла, массажный кабинет.
				.door-item.door-item_1
					img(src="img/bird.png")
				.door-item.door-item_2
					img(src="img/ball.png")