extends ../template

block title
	title KVS | Doors Наутилус

block contain
	.container
		.block.doors
			.doors-head
				span.doors-bold КВАРТИРЫ ЗОЖ
				span.doors-semibold БОЛЬШЕ, ЧЕМ ПРОСТО МЕТРЫ
			.doors-wrapper
				.doors-wrapper-arrow.doors-wrapper-arrow_prev.disabled
					img(src="img/prev.svg")
				.doors-wrapper-arrow.doors-wrapper-arrow_next
					img(src="img/next.svg")
				#track.doors-wrapper-track(style="transform: translateX(0)")
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Свежий морской воздух. Берег Финского залива
						.doors-item
							.door-background
								img(src="img/benefits/7.jpg")
							.door
								img(src="img/door.png")
						
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Парк по соседству
						.doors-item
							.door-background
								img(src="img/benefits/2.jpg")
							.door
								img(src="img/door.png")
						
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Бег и велопрогулки в парке
						.doors-item
							.door-background
								img(src="img/benefits/1.jpg")
							.door
								img(src="img/door.png")
						
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Велопарковки у подъезда
						.doors-item
							.door-background
								img(src="img/benefits/14.jpg")
							.door
								img(src="img/door.png")
						
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Спортивные площадки для детского фитнеса во дворе
						.doors-item
							.door-background
								img(src="img/benefits/3.jpg")
							.door
								img(src="img/door.png")
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Больше света. Квартиры с мансардными окнами
						.doors-item
							.door-background
								img(src="img/benefits/7.jpg")
							.door
								img(src="img/door.png")
						
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Кладовые для хранения спортинвентаря
						.doors-item
							.door-background
								img(src="img/benefits/6.jpg")
							.door
								img(src="img/door.png")
					
