extends ../template

block title
	title KVS | Doors Сертолово

block contain
	.container
		.block.doors
			.doors-head
				span.doors-bold КВАРТИРЫ ЗОЖ
				span.doors-semibold БОЛЬШЕ, ЧЕМ ПРОСТО МЕТРЫ
			.doors-wrapper
				.doors-wrapper-arrow.doors-wrapper-arrow_prev.disabled
					img(src="img/prev.svg")
				.doors-wrapper-arrow.doors-wrapper-arrow_next
					img(src="img/next.svg")
				#track.doors-wrapper-track(style="transform: translateX(0)")
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Лес, озеро и чистый воздух
						.doors-item
							.door-background
								img(src="img/benefits/2.jpg")
							.door
								img(src="img/door.png")
						
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Бег и велопрогулки в парке
						.doors-item
							.door-background
								img(src="img/benefits/1.jpg")
							.door
								img(src="img/door.png")
						
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Велопарковки у каждого подъезда
						.doors-item
							.door-background
								img(src="img/benefits/14.jpg")
							.door
								img(src="img/door.png")
						
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Фитнес-клуб с бассейном
						.doors-item
							.door-background
								img(src="img/benefits/pool.png")
							.door
								img(src="img/door.png")
						
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Эко-тропа в лесу
						.doors-item
							.door-background
								img(src="img/benefits/4.jpg")
							.door
								img(src="img/door.png")
