extends ../template

block title
	title KVS | Doors Янино

block contain
	.container
		.block.doors
			.doors-head
				span.doors-bold КВАРТИРЫ ЗОЖ
				span.doors-semibold БОЛЬШЕ, ЧЕМ ПРОСТО МЕТРЫ
			.doors-wrapper
				.doors-wrapper-arrow.doors-wrapper-arrow_prev.disabled
					img(src="img/prev.svg")
				.doors-wrapper-arrow.doors-wrapper-arrow_next
					img(src="img/next.svg")
				#track.doors-wrapper-track(style="transform: translateX(0)")
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Лес, озеро и чистый воздух
						.doors-item
							.door-background
								img(src="img/benefits/2.jpg")
							.door
								img(src="img/door.png")
						
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Бег и велопрогулки в парке
						.doors-item
							.door-background
								img(src="img/benefits/1.jpg")
							.door
								img(src="img/door.png")
						
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Велопарковки у каждого подъезда
						.doors-item
							.door-background
								img(src="img/benefits/14.jpg")
							.door
								img(src="img/door.png")
						
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Спортивные площадки во дворах
						.doors-item
							.door-background
								img(src="img/benefits/3.jpg")
							.door
								img(src="img/door.png")
						
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Workout зона (2 очередь)
						.doors-item
							.door-background
								img(src="img/benefits/3.jpg")
							.door
								img(src="img/door.png")
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Эко-тропа для пешеходных прогулок (квартал 3)
						.doors-item
							.door-background
								img(src="img/benefits/4.jpg")
							.door
								img(src="img/door.png")
						
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Тренировочная площадка для занятий с любимым питомцем
						.doors-item
							.door-background
								img(src="img/benefits/5.jpg")
							.door
								img(src="img/door.png")
						
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Детский фитнес на базе Детского центра
						.doors-item
							.door-background
								img(src="img/benefits/13.jpg")
							.door
								img(src="img/door.png")
						
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Соляная пещера на базе Детского центра
						.doors-item
							.door-background
								img(src="img/benefits/11.jpg")
							.door
								img(src="img/door.png")
						
					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Конные прогулки
						.doors-item
							.door-background
								img(src="img/benefits/12.jpg")
							.door
								img(src="img/door.png")

					.doors-item-wrapper
						.doors-item-wrapper-background
						.doors-item-text Кладовые для хранения спортинвентаря
						.doors-item
							.door-background
								img(src="img/benefits/6.jpg")
							.door
								img(src="img/door.png")
