@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "vendor/normalize";

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Myriad Pro - Light Semi Cn', sans-serif;
}

.wrp {
    max-width: 1024px;
    margin: 0 auto;
}

.doors {
    background: url(../img/background.jpg) no-repeat center center;
    background-size: contain;
    height: 890px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &-head {
        padding-top: 70px;
        padding-bottom: 70px;
        text-shadow: 0 3px 3px rgba(14, 12, 13, 0.23);
        color: #ffffff;
        font-family: "Myriad Pro - Bold Semi Cn", sans-serif;
        font-size: 74px;
        font-weight: 400;
        // Text style for "КВАРТИРЫ"
        font-family: "Myriad Pro - Bold Semi Cn", sans-serif;
        font-weight: 600;
        span {
            display: block;
            text-align: center;
        }

    }
    &-semibold {
        font-family: "Myriad Pro - Black Semi Cn", sans-serif;
        font-weight: 400;
        font-size: 51px;
    }


    &-item {
        position: relative;
        overflow: hidden;
        height: 404px;
        width: 156px;
        top: 11px;
        perspective: 1000px;
        perspective-origin: center left;
        box-sizing: border-box;
        &:hover .door{
            transform: rotate3d(0, 1, 0, 20deg);
        }
        &-wrapper {
            position: relative;
            margin-right: 171px;
            &-background {
                position: absolute;
                top: -9px;
                left: -20px;
                width: calc(100% + 40px);
                height: calc(100% + 20px);
                background: url(../img/frame.png) no-repeat center center;
                background-size: 100% 100%;
            }
        }
        &-text {
            position: absolute;
            bottom: -100px;
            left: 78px;
            transform: translateX(-50%);
            color: #FFFFFF;
            font-family: "Myriad Pro - Light Semi Cn";
            font-size: 20px;
            font-weight: 400;
            white-space: nowrap;
        }
    }

    &-wrapper {
        padding-left: 111px;
        padding-right: 105px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        
        height: 100%;
        &-track {
            display: flex;
            justify-content: flex-start;
            transition: 0.3s ease-in-out;
        }
        &-arrow {
            position: absolute;
            top: 200px;
            transform: translateY(-50%);
            z-index: 200;
            width: 50px;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            outline: none;
            &.disabled {
                opacity: 0.4;
            }
            &_prev {
                left: 10px;
            }
            &_next {
                right: 10px;
            }
        }
    }

    &-inn-item {
        position: absolute;
        z-index: 110;
        &_1 {
            bottom: 55%;
            left: calc(156px - 111px);
            width: 0px;
            transition: 0.3s ease-in-out;
            //width: 150px;
            overflow: hidden;
            &.visible {
                width: 150px;
            }
            img {
                width: 150px;
            }
        }
        &_2 {
            bottom: -70px;
            width: 0;
            overflow: hidden;
            transition: 0.3s ease-in-out;
            left: calc(156px - 141px);
            &.visible {
                width: 196px;
            }
            img {
                width: 196px;
            }
        }
        &_3 {
            bottom: -73px;
            left: 157px;
            transform: translateX(-100%);
            width: 0px;
            transition: 0.3s ease-in-out;
            overflow: hidden;
            &.visible {
                width: 97px;
            }
            img {
                width: 97px;
            }
        }
        &_4 {
            top: 10px;
            left: 156px;
            transform: translateX(-50%);
            height: 0px;
            width: 86px;
            transition: 0.3s ease-in-out;
            overflow: hidden;
            &.visible {
                height: 100%;
            }
            img {
                width: 86px;
            }
        }
    }
}

.door {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 10;
    width: 100%;
    transition: 0.3s ease-in-out;
    display: inline-block;
    transform-style: preserve-3d;
    transform-origin: left center;
    img {
        width: 100%;
    }
    &-background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &-item {
        position: absolute;
        top: 350px;
        left: -500vh;
        transition: 1s ease-in-out;
        z-index: 110;
        &_2 {
            top: 400px;
        }
    }
    &.opened {
        transform: rotate3d(0, 1, 0, 75deg) !important;
    }
    &-description {
        position: absolute;
        top: -9px;
        left: calc(156px + 20px);
        z-index: 110;
        width: 250px;
        padding: 20px;
        background: #FFFFFF;
        opacity: 0.76;
        font-size: 15px;
        display: none;
        &.active {
            display: block;
        }
        &_left {
            left: unset;
            right: calc(100% + 20px);
        }
        &__close {
            position: absolute;
            width: 9px;
            height: 9px;
            top: 5px;
            right: 5px;
            display: flex;
            align-items: stretch;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            &:before, &:after {
                content: '';
                display: block;
                transform-style: flat;
                transform-origin: left center;
                background: #000000;
                height: 1px;
                width: 11px;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
    }
}

.text-bold {
    font-weight: 600;
}