@font-face {
	font-family: "Proxima Nova";
	src: url(../fonts/ProximaNova.ttf);
}

@font-face {
	font-family: "Myriad Pro - Light Semi Cn";
	src: url(../fonts/MyriadPro-LightSemiCn.ttf);
}

@font-face {
	font-family: "Myriad Pro - Semibold Semi Cn";
	src: url(../fonts/MyriadPro-SemiboldSemiCn.ttf);
}

@font-face {
	font-family: "Myriad Pro - Bold Semi Cn";
	src: url(../fonts/MyriadPro-BoldSemiCn.ttf);
}

@font-face {
	font-family: "Myriad Pro - Black Semi Cn";
	src: url(../fonts/MyriadPro-BlackSemiCn.ttf);
}